<!doctype html>
<html lang="en">

  <head>
    <title>Login</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tracking tool for laptop loaning systems.">

    <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.css">

    {{#if bodyscript}}
      <script src="/js/{{bodyscript}}"></script>
    {{/if}}
    
    <!-- get rid of favicon error -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>

  <body>
    {{{body}}}
  </body>
  
</html>
