<!doctype html>
<html lang='en'>
  <head>
    <title>CS4241 Assignment 3</title>
      <!--<link rel="stylesheet" type="text/css" href="indexStyle.css"> -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <meta charset="utf-8">
    <link rel="prefetch"  href="index.html"> <!--idk about this link-->
 
    <!-- get rid of favicon error -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>
  <body>
    <div class="container" style="text-align: center;">
    <header>CS4241 Assignment 3</header>
    <h2 class="title is-1">Book Collection Manager</h2>
    <div class="box is-centered" style="width: 500px; margin-left: auto; margin-right: auto;">
      
    <form action='/newAccount' method='POST'>
      <p>Please create a login to your account</p>
      <div class="field"><h5>Username:</h5>
        <input type='text' name='username' required minlength="1" maxlength="40" size="30">
    </div>
      <div class="field"><h5>Password:</h5>
        <input type='password' name='password' required minlength="1" maxlength="40" size="30">
    </div>
      <input class="button is-primary" type='submit'>
    </form>
  </div>
  <p>
    {{{msg}}}
    </p>
    <br>
    <form action='/createAccount' method='POST'></form>
    <button class="button is-primary" type = 'submit'>Create Account</button>
    </form>
    </div>
  </body>
</html>