<html lang="en">
  <head>
    <title>Highscore Racer</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/output.css" />

    <!-- get rid of favicon error -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
  </head>
  <body>
    <form action="/login" method="POST" class="flex flex-col m-[1000px]">
      <input type="text" name="username" />
      <input type="password" name="password" />
      <input type="submit" />
    </form>
    {{{msg}}}
  </body>
</html>