<div class="block">
  <h1>Active Laptop Loans</h1>

  <p>Please log in or create a new account.</p>

  <form>
    <input type="text" id="login-user" value="Username" aria-label="Username entry">
    <input type="text" id="login-pass" value="Password" aria-label="Password entry">
    <button id="login-btn" class="removebtn">Login</button>
  </form>

  <p id="login-msg"></p>
</div>
