<!doctype html>
<html lang="en">
  <head>
    <title>CS4241 Assignment 3</title>
    <!--<link rel="stylesheet" type="text/css" href="style.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <meta charset="utf-8">
    <script src="main.js"></script>
    <!-- get rid of favicon error -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap" rel="stylesheet">
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Karla:ital,wght@0,200..800;1,200..800&family=Macondo&display=swap" rel="stylesheet">    
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Macondo&display=swap" rel="stylesheet">
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Karla:ital,wght@0,200..800;1,200..800&family=Macondo&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Karla:ital,wght@0,200..800;1,200..800&family=Macondo&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Karla:ital,wght@0,200..800;1,200..800&family=Macondo&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nerko+One&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Karla:ital,wght@0,200..800;1,200..800&family=Macondo&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nerko+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container" style="text-align: center;">
    <header>CS4241 Assignment 3</header>
    <h2 class="title is-1">Book Collection Manager</h2>
    </div>
    <div class="box is-centered" style="width: 700px; margin-left: auto; margin-right: auto; ">
      <p class="title is-3">Input</p>
    <p style="display: inline-block;"> All books inputted must have a different</p> <p class ="has-text-weight-semibold" style="display: inline-block;">Title</p>  <br>
    <p style="display: inline-block;">Meaning 2 of the same book can't be entered </p><br>
    <p style="display: inline-block;">Years must be entered in the <p class ="has-text-weight-semibold" style="display: inline-block;">1000s </p> and less than <p class ="has-text-weight-semibold" style="display: inline-block;">2025</p></p></p>

    <!--Book ID will be the unique identifier, I will make these my own-->
    <form action='/add' method='POST'>
    <h5 class = "has-text-link" style="display: inline-block;">Title:</h5>
    <input type="text" id="title" name="title" required minlength="1" maxlength="40" size="30" style="display: inline-block;" >
    
    
    <h5 class = "has-text-link" style="display: inline-block;">Author:</h5>
    <input type="text" id="author" name="author" required minlength="1" maxlength="40" size="10" style="display: inline-block;">
    
    
    <h5 class = "has-text-link" style="display: inline-block;">Publication Year:</h5>
    <input type="number" id="year" name="year" min="1000" max="2025" style="display: inline-block;"><br>

    <h5  class = "has-text-link" style="display: inline-block;">Genre:</h5>
    <input type="text" id="genre" name="genre" style="display: inline-block;">
    <h5 class = "has-text-link" style="display: inline-block;">Ranking (1-5 stars): </h5>
    <input type="number" id="ranking" name="ranking" min="1" max="5" style="display: inline-block;">
    <p id="options">Here is a list of ideas for genre entries:
      (fiction, non-fiction, sci-fi, fantasy, and romance)
    </p>
   
    <input type='submit' class="button is-primary" style="display: block; margin: auto;">
    <!--<button type= 'submit' id="newBook">submit</button><br>-->
    </form>
  </div>

   

    <div class="box is-centered" style="width: 700px; margin-left: auto; margin-right: auto;">
      <p class="title is-3">Delete Entry</p>


    <form action='/remove' method='POST'>
    <h5 class = "has-text-link" style="display: inline-block;" >Title:</h5>
    <input type="text" id="title" name="title" required minlength="1" maxlength="40" size="30" style="display: inline-block;"><br>

    <button id="deleteBook" class="button is-primary" style="display: block; margin: auto;">delete</button>
  </form>
  <p>{{{msg}}}</p>

    </div>

    <div class="box is-centered" style="width: 700px; margin-left: auto; margin-right: auto;">
      <p class="title is-3">Results</p>
        <p>Here is the display of the table</p>
        <div class="flex-container">
      <table class="table">
          <thead>
              <tr>
                  <th>Book Title</th>
                  <th>Author</th>
                  <th>Publication Year</th>
                  <th>Genre</th>
                  <th>Ranking</th>
                  <th>Author&Stars</th>
              </tr>
          </thead>
          <tbody id="tableBody">
              <!--the rows (i.e. books in the table)-->
          </tbody>
      </table>
    

      <p>Type the row and column you want to change in integer form (like 0 0)</p>
      <p style="display: inline-block;">r:</p>
      <input id="row" type="number" min="0" max="100" style="display: inline-block;">
      <p style="display: inline-block;">c:</p>
      <input id="col" type="number" min="0" max="100" style="display: inline-block;"><br>
      <p>put in the what you want to change the entry in the table to</p>
      <input id="newVal"><br>
      <button id="changing" class="button is-primary" style="display: block; margin: auto;">Press Here to change the data</button>
    </div>
  </div>

    <!--Derived one will be Author with the most stars (looks at author name and ranking)
    Authors who have an equal amount of 5 star books are then ordered alphabetically-->
    
  
  </body>
</html>
