<!doctype html>
<html lang="en">
  <head>
    <title>CS4241 Assignment 2</title>
    <meta charset="utf-8">
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
    
    <!-- get rid of favicon error -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  </head>
  <body class="vt323-regular">
    <h1>Button Game!</h1>
    <h2>Press the BUTTON!</h2>
    <h3>Instructions</h3>
    <p id="instructions">Click on the big blue button to increase your score, submit with your name to add your score to the scoreboard on the bottom left. To alter/delete your score, locate your row and find the index number on the far left, then fill out any necessary information and click delete/alter button to do said actions.</p>
    <div id="container-score">
      <h3 id="clickCounter">0</h3>
      <button id="scoreButton" class="vt323-regular">Click Me</button>
    </div>
    <form class="flex-vertical">
      <label for="yourname"> Name:</label>
      <input type="text" id="yourname" placeholder="your name here">
      <button id="submit">submit</button>
    </form>


    <div class="flex-horizontal">
      <div class="flex-vertical">
        <h2>High Scores:</h2>
        <table id="table"></table>
      </div>
      <form class="flex-vertical">
        <h2>Delete Data:</h2>
        <label for="index">Target data's Index:</label>
        <input type="number" id="index" placeholder="0">
        <button id="delete">delete</button>
      </form>
      <form class="flex-vertical">
        <h2> Alter Data:</h2>
        <label for="indexOfChange">Target data's Index:</label>
        <input type="number" id="indexOfChange" placeholder="0">
        <label for="nameChange">New Name:</label>
        <input type="text" id="nameChange" placeholder="John">
        <label for="scoreChange">New Times Clicked:</label>
        <input type="number" id="scoreChange" placeholder="2">
        <button id="alter">alter data</button>
      </form>

    </div>
  </body>
</html>
