<!doctype html>
<html lang="en">
<head>
  <title>CS4241 Assignment 3</title>
  <meta charset="utf-8">
  <script src="js/main.js"></script>
  <link rel="stylesheet" href="css/main.css">
  <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">-->
  <meta name="description" content="Submit Badminton Matches into Featherfest">
  <!-- get rid of favicon error -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="is-family-monospace">

<h1 class="title is-family-primary is-size-1 pt-6 is-flex is-flex-direction-row">Submit your Match! <button id="logoutButton" class="button is-info">Logout</button></h1>

<div>
  <form>
    <h2 class="is-size-4 is-flex is-justify-content-start is-align-items-start has-text-weight-semibold">Match Formatting:</h2>
    <div class="is-flex is-flex-direction-row is-justify-content-space-between ">
      <!-- Match Type -->
      <div class="is-flex is-flex-direction-column">
        <h3>Match Type:</h3>
        <div class="flex-horizontal">
          <input type="radio" id="round-robin" name="match-type" value="Round Robin" required>
          <label for="round-robin">Round Robin</label>
        </div>
        <div class="is-flex is-flex-direction-row">
          <input type="radio" id="elimination" name="match-type" value="Elimination" required>
          <label for="elimination">Elimination</label>
        </div>
      </div>

      <!-- Match Format -->
      <div class="is-flex is-flex-direction-column">
        <h3 class="pb-1">Match Format:</h3>
        <div class="is-flex is-flex-direction-row">
          <input type="radio" id="singles" name="match-format" value="singles" required>
          <label for="singles">Singles</label>
        </div>
        <div class="is-flex is-flex-direction-row">
          <input type="radio" id="doubles" name="match-format" value="doubles" required>
          <label for="doubles">Doubles</label>
        </div>
      </div>

      <!-- Match Selection -->
      <div class="is-flex is-justify-content-start is-flex-direction-column">
        <label class="pb-1">Match:</label>
        <div class="select">
          <select aria-label="What Match Group is this for i.e. Singles 3" id="match" name="match" required>
            <option value="">Choose Match Type</option>
            <option value="Singles 1">Singles 1</option>
            <option value="Singles 2">Singles 2</option>
            <option value="Singles 3">Singles 3</option>
            <option value="Singles 4">Singles 4</option>
            <option value="Doubles 1">Doubles 1</option>
            <option value="Doubles 2">Doubles 2</option>
            <option value="Doubles 3">Doubles 3</option>
          </select>
        </div>
      </div>
    </div>
    <datalist id="schools">
      <option value="SAN">Sandburg</option>
      <option value="AND">Andrew</option>
      <option value="NT">New Trier</option>
      <option value="DGN">Downers Grove North</option>
      <option value="FR">Fremd</option>
      <option value="HER">Hersey</option>
      <option value="HS">Hinsdale South</option>
      <option value="LT">Lockport</option>
      <option value="NN">Naperville North</option>
      <option value="DF">Deerfield</option>
      <option value="WY">Whitney Young</option>
      <option value="YK">York</option>
    </datalist>
    <!-- Schools and Players -->
    <div class="pt-3">

      <table>
        <tr>
          <td><h3 class="has-text-weight-semibold is-size-4 is-flex is-justify-content-start">Scores:</h3></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="p-2">Schools</td>
          <td class="school-a">
            <input aria-label="Input for School A" class="input" list="schools" id="schoolA" name="schoolA" placeholder="Select School" required>
          </td>
          <td class="school-b">
            <input aria-label="Input for School B" class="input" list="schools" id="schoolB" name="schoolB" placeholder="Select School" required>
          </td>
        </tr>
        <!-- Players -->
        <tr>
          <td class="p-2">PLAYER 1</td>
          <td><input aria-label="Player 1 for School A" class="input" type="text" id="playerA1" name="playerA1" placeholder="NT1" required></td>
          <td><input aria-label="Player 1 for School B" class="input" type="text" id="playerB1" name="playerB1" placeholder="AND2" required></td>
        </tr>
        <tr>
          <td class="p-2">PLAYER 2</td>
          <td><input aria-label="Player 2 for School A" class="input" type="text" id="playerA2" name="playerA2" placeholder="NT2" ></td>
          <td><input aria-label="Player 2 for School B" class="input" type="text" id="playerB2" name="playerB2" placeholder="AND4" ></td>
        </tr>
        <!-- Games -->
        <tr>
          <td class="p-2">GAME 1</td>
          <td><input aria-label="Game 1 Score for School A" id="game1A" class="input" type="number" name="game1A" min="0" value="0" required></td>
          <td><input aria-label="Game 1 Score for School B"  id="game1B" class="input" type="number" name="game1B" min="0" value="0" required></td>
        </tr>
        <tr>
          <td class="p-2">GAME 2</td>
          <td><input aria-label="Game 2 Score for School A" id="game2A" class="input" type="number" name="game2A" min="0" value="0" required></td>
          <td><input aria-label="Game 2 Score for School B"  id="game2B" class="input" type="number" name="game2B" min="0" value="0" required></td>
        </tr>
        <tr>
          <td class="p-2">GAME 3</td>
          <td><input aria-label="Game 3 Score for School A"  id="game3A" class="input" type="number" name="game3A" min="0" value="0" required></td>
          <td><input aria-label="Game 3 Score for School B"  id="game3B" class="input" type="number" name="game3B" min="0" value="0" required></td>
        </tr>
      </table>
    </div>

    <!-- Submit and Clear Buttons -->
    <div class="mt-2 submit-clear flex-horizontal is-justify-content-end is-align-items-end">
      <input type="submit" id="add" class="button is-link" value="Submit">
      <button type="reset" class="ml-2 button is-link is-light">Clear</button>
    </div>
  </form>
  <div id="matches-container">

  </div>


<!-- Modal Structure -->
<div id="editModal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <form>
      <h2 class="is-size-4 is-flex is-justify-content-start is-align-items-start has-text-weight-semibold">Match Formatting:</h2>
      <div class="is-flex is-flex-direction-row is-justify-content-space-between ">
        <!-- Match Type -->
        <div class="is-flex is-flex-direction-column">
          <label class="pb-1" for="match-typeChange">Match Type:</label>
          <div class="flex-horizontal">
            <input type="radio" id="round-robinChange" name="match-typeChange" value="round-robin" required>
            <label for="round-robin">Round Robin</label>
          </div>
          <div class="is-flex is-flex-direction-row">
            <input type="radio" id="eliminationChange" name="match-typeChange" value="elimination" required>
            <label for="elimination">Elimination</label>
          </div>
        </div>

        <!-- Match Format -->
        <div class="is-flex is-flex-direction-column">
          <label class="pb-1" for="match-formatChange">Match Format:</label>
          <div class="is-flex is-flex-direction-row">
            <input type="radio" id="singlesChange" name="match-formatChange" value="singles" required>
            <label for="singles">Singles</label>
          </div>
          <div class="is-flex is-flex-direction-row">
            <input type="radio" id="doublesChange" name="match-formatChange" value="doubles" required>
            <label for="doubles">Doubles</label>
          </div>
        </div>

        <!-- Match Selection -->
        <div class="is-flex is-justify-content-start is-flex-direction-column">
          <h4 class="pb-1">Match:</h4>
          <div class="select">
            <select id="matchChange" name="match" required>
              <option value="">Choose Match Type</option>
              <option value="Singles 1">Singles 1</option>
              <option value="Singles 2">Singles 2</option>
              <option value="Singles 3">Singles 3</option>
              <option value="Singles 4">Singles 4</option>
              <option value="Doubles 1">Doubles 1</option>
              <option value="Doubles 2">Doubles 2</option>
              <option value="Doubles 3">Doubles 3</option>
            </select>
          </div>
        </div>
      </div>
      <!-- Schools and Players -->
      <div class="pt-3">

        <table>
          <tr>
            <td><h3 class="has-text-weight-semibold is-size-4 is-flex is-justify-content-start">Scores:</h3></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="p-2">Schools</td>
            <td class="school-a">
              <input class="input" list="schools" id="schoolAChange" name="schoolA" placeholder="Select School" required>
            </td>
            <td class="school-b">
              <input class="input" list="schools" id="schoolBChange" name="schoolB" placeholder="Select School" required>
            </td>
          </tr>
          <!-- Players -->
          <tr>
            <td class="p-2">PLAYER 1</td>
            <td><input class="input" type="text" id="playerA1Change" name="playerA1" placeholder="NT1" required></td>
            <td><input class="input" type="text" id="playerB1Change" name="playerB1" placeholder="AND2" required></td>
          </tr>
          <tr>
            <td class="p-2">PLAYER 2</td>
            <td><input class="input" type="text" id="playerA2Change" name="playerA2" placeholder="NT2" ></td>
            <td><input class="input" type="text" id="playerB2Change" name="playerB2" placeholder="AND4" ></td>
          </tr>
          <!-- Games -->
          <tr>
            <td class="p-2">GAME 1</td>
            <td><input id="game1AChange" class="input" type="number" name="game1A" min="0" value="0" required></td>
            <td><input id="game1BChange" class="input" type="number" name="game1B" min="0" value="0" required></td>
          </tr>
          <tr>
            <td class="p-2">GAME 2</td>
            <td><input id="game2AChange" class="input" type="number" name="game2A" min="0" value="0" required></td>
            <td><input id="game2BChange" class="input" type="number" name="game2B" min="0" value="0" required></td>
          </tr>
          <tr>
            <td class="p-2">GAME 3</td>
            <td><input id="game3AChange" class="input" type="number" name="game3A" min="0" value="0" required></td>
            <td><input id="game3BChange" class="input" type="number" name="game3B" min="0" value="0" required></td>
          </tr>
        </table>
      </div>

      <!-- Submit and Clear Buttons -->
      <div class="mt-2 submit-clear flex-horizontal is-justify-content-end is-align-items-end">
        <input type="submit" name="changeButton" class="changeButton button is-link" value="Change">
        <button type="button" class="cancel-modal ml-2 button is-link is-light">Cancel</button>
      </div>
    </form>

  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
</div>








</body>
</html>
