
body {
    background-color: rgb(0, 122, 51); /* Celtics green */
    color: green;
    font-family: 'Dosis', sans-serif;
    font-family: 'Oswald', sans-serif;
    text-align: center; 
  }

form{
    padding: 10px 60px;
    font-size: 18px;
    border-radius: 5px;
}

h1{
  text-align: center; 
  color: white;
}