body {
  color:rgb(65, 31, 31);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Kanit", sans-serif;
}

h1 {
  text-align: center;
  color: rgb(200, 72, 120);

}

h2 {
  color: brown;
  text-align: center;
}

table {
  text-align: center;
  align-content: center;
  border: solid 2px black;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
} 

th, td {
  text-align: center;
  align-content: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

form {
  text-align: center;
}

button {
  border: solid 1.5px brown;
}

#editor {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1.5px brown;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}