caption {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-inner {
    background-color: #DCDCDC;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color:#212121;
    width: 50%;
    margin: auto;   /* center horizontally */
    /* center vertically */    
    top: 50%;
    transform: translateY(50%);
}

#grades, #stats {
    padding-top: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.2rem;
    margin: 0.5rem;
    text-align: left;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 50%;
}

#login > form > .button-group {
    width: 30%;
}

.inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

hr {
    margin-top: 5rem;
}
