table,
  th,
  td {
    border: 1px solid black;
    font-size: 30px;
  }

  h1{
    font-family: Andale Mono, monospace;
  }

  body {
    background: rgb(118, 209, 91);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

.centered,
.centered * {
    font-family: Andale Mono, monospace;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
}

.leftSide,
.leftSide * {
    font-family: Andale Mono, monospace;
}

.rightSide,
.rightSide * {
    font-family: Andale Mono, monospace;
}